<style media="screen">
  .loader{
    height: 70px;
    width: 70px;

    border: 12px #f3f3f3 solid;
    border-top:12px #444444 solid;
    border-radius: 50%;
    width:70px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -70px;
    margin-left: -70px;


  }
</style>
