<style>
body,html{
  height: 100%;
  width:100%;
  margin: 0px;
  background-color: #e0e0e0;
}
header{
      background-color: rosybrown;
      top:0;
      width: 100%;
      position: sticky;


}
footer{
  background-color: rosybrown;
    bottom: 0;
    width: 100%;
    position: sticky;
}
.content{
  background-color: rgb(132, 136, 139);
  width:50%;
  height: 20%;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
}
.customer_info{
  margin:2%;
}
.Tarrif_info{
  margin:2%;
  border :1px solid black;
  border-radius: 5px;
  padding: 1% 2%;
}
  div.header img{
    height:60px;
    width:60px;
    border-radius: 10px;
  }
  .pay {
    text-decoration: none;
    color: black;
  }
  div.social_meadia img{
    height: 20px;
    width: 22px;
  }
  div.content img{
    height: 500px;
    width: 500px;
  }
</style>
